.table .ant-table-tbody>tr>td {
  font-size: 12px;
}

.table .ant-table-thead>tr>th {
  background-color: rgb(240, 243, 252) !important;
  color: rgb(104, 110, 114) !important;
  font-size: 11px !important;
  font-weight: 700 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.table .ant-table-thead>tr>th::before {
  display: none !important;
}

.table .ant-card-body {
  padding: 0 !important;
}

.table .ant-table-cell {
  padding: 12px !important;
}

.table {
  box-shadow: 0px 4px 6px 1px rgb(210, 210, 210);
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1d4dd6;
}

.Student {
  background-color: #00b050;
}

.Parent {
  background-color: #1f2937;
}

.Teacher {
  background-color: #3363e9;
}

.Batches {
  background-color: #660033;
}

.FeeManagement {
<<<<<<< HEAD
  background-color: #5ca50e;
=======
background-color: #5ca50e;
}

.Mark {
background-color: white;
}

.title{
    font-size: 15px;
    color: #fff;
    font-weight: 700;
>>>>>>> 6524e95e697f823c779cab02931aeca7323ea603
}

.Mark {
  background-color: white;
}

.StudyMaterial{
background-color: rgba(134, 168, 22, 0.875);
}

.Exams {
  background-color: #22668a;
}

.Franchise {
  background-color: #8a2270;
}
.title {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
}

.add-btn {
  border-radius: 10px;
  color: #fff;
  border: none;
  font-size: 11px;
  font-weight: 700;
  box-shadow: 0 0 0 0.3px #fdfdfd;
}

.ant-btn.add-btn {
  height: 25px;
  padding: 4px !important;
}

.ant-card-body {
  padding: 15px !important;
}

.ant-breadcrumb-separator {
  color: #666;
  font-size: 18px;
  margin: -4px 8px;
}

.primary-column {
  font-weight: 700;
}

.action-btn {
  border: 1px solid rgb(210, 209, 209);
  border-radius: 10px;
  padding: 2px 6px !important;
  height: 26px !important;
  line-break: 2 !important;
}

.action-btn .anticon {
  font-size: 10px !important;
}

.view-btn {
  color: black;
  background-color: rgb(210, 250, 210);
  border: 1px solid rgb(159, 248, 159);
}

.view-btn:hover {
  color: rgb(39, 186, 39) !important;
}

.download-btn {
   color: rgb(255, 64, 0);
  background-color: rgb(234, 223, 224);
  border: 1px solid rgb(207, 15, 50);
}

.download-btn:hover {
  color: rgb(39, 186, 39) !important;
}

.delete-btn {
  border: 1px solid #f9caca;
  background-color: #fdeaea;
}